//colors
$base-color-text: #444444;
$bg-basic-green: #68b738;
$bg-basic-grey: #f2f2f2;
$inline-color-text: #ffffff;
$base-color-title: #000000;
$special-grey: #eaeaea;
$special-dark-grey: #111111;
$special-grey2: #222222;
$special-grey3: #666666;

// fonts
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

//viewport
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
