// .additionally-cards {

// }

.additionally-cards__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-text;
}

// .additionally-cards__list {

// }

// .additionally-cards__item {

// }

.additionally-cards__name {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additionally-cards__basic {
  font-size: 14px;
  line-height: 14px;
  color: $base-color-text;
}


.additionally-cards__description {
  font-size: 14px;
  line-height: 14px;
  color: $base-color-text;
}

.additionally-cards__button {
  padding: 10px;
}
