// .additionally {

// }

// .additionally__title {


// }

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    // width: 708px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 32px;
    column-gap: 127px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

// .additionally__item {

// }

// .additionally__input {

// }

// .additionally__label {

// }

