.advantages {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 110px;
  }
}

.advantages__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $base-color-title;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    // width: 708px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 77px;
    column-gap: 137px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.advantages__item {
  background: $bg-basic-green;
}

.advantages__item--1 {
  background-image: url("../../images/icons/stack.svg#tree-leaf");
  width: 25px;
  height: 28px;
}

.advantages__item--2 {
  background-image: url("../../images/icons/stack.svg#instant");
  width: 25px;
  height: 28px;
}

.advantages__item--3 {
  background-image: url("../../images/icons/stack.svg#icon-eat");
  width: 25px;
  height: 30px;
}

.advantages__item--4 {
  background-image: url("../../images/icons/stack.svg#icon-scales");
  width: 26px;
  height: 32px;
}

.advantages__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  min-width: 200px;
}
