// .advantages {


// }

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $base-color-title;
}

// .advantages__list {


// }

.advantages__item {
  background: #6CB044;
}

// .advantages__item--1 {

// }

// .advantages__item--2 {

// }

// .advantages__item--3 {

// }

// .advantages__item--4 {

// }

.advantages__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}
