// .checklist {
// //   font-family: "Oswald", sans-serif;
// //   font-size: 20px;
// //   line-height: 30px;
// //   font-weight: 400;
// //   text-transform: uppercase;
// //   color: $base-color-text
// // }

.checklist__title {
  font-family: $secondary-font;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: $base-color-title;
}

.checklist__subtitle {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $base-color-title;
  text-transform: uppercase;
}

// .checklist__form {

// }

// .checklist__fieldset {

// }

// .checklist__list {

// }

// .checklist__item {

// }

// .checklist__item-label {

// }

// .checklist__item-input {

// }

.checklist__btn {
  padding: 10px;
}

// .checklist__legend {

// }
