// .comments {

// }

.comments__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $base-color-title;
}

.comments__textarea {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $base-color-title;
  text-transform: uppercase;
}
