// .copyright {

// }

// .copyright__text {

// }

.copyright__link {
  content: "";
  display: block;
  mask-image: url("../../images/icons/stack.svg#html-academy");
  background-color: $special-grey3;
}

.copyright__link:hover,
.copyright__link:focus {
  background-color: $bg-basic-green;
}

.copyright__link:active {
  background-color: $bg-basic-green;
  opacity: 0.3;
}


