.description {
  width: 280px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    width: 708px;
    // padding: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    // padding: 0 110px;
  }
}

.description__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

// .description__item {


// }

.description__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $base-color-title;
  text-transform: uppercase;
}

.description__icon::before {
  content: "";
  display: block;
  background: $bg-basic-green;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.description__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
  margin: 0;
}

.description__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $base-color-title;
  text-transform: uppercase;
  text-decoration: none;
}

.description__link::after {
  content: "";
  display: block;
  background-image: url("../../images/icons/stack.svg#icon-arrow-link");
  background-repeat: no-repeat;
  // background-position: center right 20px;
  width: 24px;
  height: 12px;
}
