.example {
  background: $special-grey;

  @media (min-width: $desktop-width) {
    background: $inline-color-text;
  }
}

// .example__wrapper {

// }

.example__split {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: $special-grey;
  }
}

.example__intro {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $base-color-title;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.example__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-color-title;
  text-transform: uppercase;
}

// .example__text--location {

// }

// .example__number {


// }

// .example-slider {


// }

// .example-slider__item {


// }

// .example-slider__toggles {


// }
