// .location {


// }

.location__contacts {
  display: flex;
  justify-content: space-between;
  margin: 26px 0;
}

.location__title {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin: 0;
}

.location__text {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: $base-color-text;
}

.location__map::after {
  content: "";
  display: block;
  background-image: url("../../images/icons/stack.svg#map-pin.png");
  width: 57px;
  height: 53px;
}
