.main-nav {
  display: flex;
  flex-direction: column;
  height: 38px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    height: 70px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 704px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1220px;
  }
}

// .main-nav__toggle {

// }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width) {

}
