.present {
  background: $bg-basic-green url("../../images/prize-background-mobile@1x.jpg") no-repeat center top;
  width: 280px;
  height: 280px;
}

.present__title {
  font-size: 16px;
  line-height: 20px;
  color: $inline-color-text;
}

.present__title::before {
  content: "";
  display: block;
  background: url("../../images/icons/stack.svg#icon-present") no-repeat center top;
  width: 78px;
  height: 80px;
}
