// .product-cards {
//   width: 280px;
//   margin: 0 auto;

//   @media (min-width: $tablet-width) {
//     width: 708px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 1440px;
//     padding: 0 110px;
//   }
// }

.product-cards__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $base-color-title;
}

.product-cards__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    row-gap: 63px;
    column-gap: 80px;
  }

}

.product-cards__item {
  background-color: $inline-color-text;
}

.product-cards__link {
  text-decoration: none;
  text-transform: uppercase;
}

// .product-cards__image {

// }

.product-cards__name {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: $special-grey2;
}

.product-cards__basic {
  font-size: 12px;
  line-height: 16px;
}

.product-cards__description {
  font-size: 12px;
  line-height: 16px;
}

.product-cards__text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: $special-dark-grey;
}

.product-cards__subtitle {
  font-size: 12px;
  line-height: 16px;
}

.product-cards__button {
  font-family: $secondary-font;
  padding: 10px;
}

