.promo {
  background: $bg-basic-green url("/source/images/index-background-desktop2@1x.jpg") no-repeat center top;

  @media (min-width: $tablet-width) {
    background: url("/source/images/index-background-desktop2@1x.jpg") no-repeat center top;
  }
}

.promo__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $inline-color-text;
}

.promo__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $inline-color-text;
}

.promo__button {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  padding: 10px;
}
