// .site-list {

// }

.site-list__link {
  text-decoration: none;
  color: $base-color-title;
}

.site-list__item {
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
