@media (min-width: $tablet-width) {
  .site-list {
    width: 463px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 475px;
  }
}

.site-list__link {
  text-decoration: none;
  color: $base-color-title;
}

.site-list__item {
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
