// .stats {


// }

// .stats__item {


// }

.stats__numder {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $base-color-title;
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $base-color-text;
}
