// .user-data {

// }


.user-data__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $base-color-title;
}

.user-data__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .user-data__item {

// }

// .user-data__item-label {

// }

.user-data__item-input {
  font-size: 16px;
  line-height: 18px;
}

.user-data__item-input::after {
  content: "";
  display: block;
  mask-image: url("../../images/icons/stack.svg#email-stroke");
  width: 20px;
  height: 20px;
  background-color: $special-grey3;
}
