// .user-data {

// }


.user-data__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $base-color-title;
}

// .user-data__list {

// }

// .user-data__item {

// }

// .user-data__item-label {

// }

// .user-data__item-input {

// }
